nav a {
  color: #3f5365;
}
#signin {
  input[type="email"],
  input[type="password"] {
    border: 1px solid #ccc;
    outline: white;
  }
  input[type="submit"] {
    background-color: #3f5365;
  }
  input[type="submit"]:hover {
    background-color: #4d769a;
    transition: 0.3s;
  }
  .signin_title {
    text-align: center;
    > div > p {
      text-align: center;
    }
    > p > span {
      margin: 8px;
      padding: 5px 10px;
      border-radius: 50%;
      background-color: #009688;
      width: 20px;
    }
  }
}
